<footer>
  <div class="info">
    <div class="w">
      <span class="brand-title">
        <span class="auto">Auto</span><span class="film">film</span>
      </span>
    </div>

    <div class="complaints w">
      <span>Libro de reclamaciones</span>
      <img src="/images/libro.jpg" alt="Libro de reclamaciones" class="icon" />
    </div>
    <div class="social-media w">
      <span>Síguenos</span>
      <a href="https://wa.me/"
        ><img src="/images/whatsapp.svg" alt="WhatsApp" class="icon"
      /></a>
      <a href="https://www.facebook.com/"
        ><img src="/images/facebook.svg" alt="Facebook" class="icon"
      /></a>
      <a href="https://www.instagram.com/"
        ><img src="/images/instagram.svg" alt="Instagram" class="icon"
      /></a>
    </div>
  </div>
  <div class="copyright">
    <span>© 2024 Autocine. Todos los derechos reservados.</span>
  </div>
</footer>
