<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoFilm Header Fragment</title>

    <link rel="stylesheet" th:href="@{/css/header.css}" />
  </head>
  <body>
    <header th:fragment="header" class="autofilm-header">
      <div class="autofilm-header-content">
        <nav class="autofilm-nav w">
          <ul>
            <li>
              <a href="#" th:href="@{/}" class="autofilm-active">Inicio</a>
            </li>
            <li><a href="#" th:href="@{/estrenos}">Pago</a></li>
            <li><a href="#" th:href="@{/catalogo}">Comida</a></li>
            <li><a href="#" th:href="@{/directores}">Películas</a></li>
            <li><a href="#" th:href="@{/directores}">Reserva</a></li>
          </ul>
        </nav>
        <div class="autofilm-logo w">
          <span class="brand-title">
            <span class="auto">Auto</span><span class="film">film</span>
          </span>
        </div>
        <div class="autofilm-auth-links w">
          <a href="#" th:href="@{/iniciar-sesion}">Iniciar sesión</a>
          <a href="#" th:href="@{/registrarse}">Registrarse</a>
        </div>
      </div>
    </header>
  </body>
</html>
