<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DefamFilm Header Fragment</title>

    <link rel="stylesheet" th:href="@{/css/header.css}" />
  </head>
  <body>
    <header th:fragment="header" class="autofilm-header">
      <div class="autofilm-header-content">
        <nav class="autofilm-nav w">
          <ul>
            <li><a href="#" th:href="@{/}" class="autofilm-active">Inicio</a></li>
            <li><a href="#" th:href="@{/pago}">Pago</a></li>
            <li><a href="#" th:href="@{/comida}">Comida</a></li>
            <li><a href="#" th:href="@{/peliculas/listar}">Películas</a></li>
            <li><a href="#" th:href="@{/reserva}">Reserva</a></li>
          </ul>
        </nav>
        <div class="autofilm-logo w">
          <span class="brand-title">
            <span class="auto">Auto</span><span class="film">film</span>
          </span>
        </div>
        
		<div class="autofilm-auth-links w">
		  <!-- Mostrar el nombre del usuario y el enlace de cerrar sesión si está autenticado -->
		  <div th:if="${session.user != null}">
		    <span class="user-button" th:text="${session.user.name}">Nombre Usuario</span>
		    <a href="#" th:href="@{/logout}">Cerrar sesión</a>
		  </div>
		  <!-- Mostrar los enlaces de Iniciar sesión y Registrarse si el usuario no está autenticado -->
		  <div th:if="${session.user == null}">
		    <a href="#" th:href="@{/login}">Iniciar sesión</a>
		    <a href="#" th:href="@{/register}">Registrarse</a>
		  </div>
		</div>
      </div>
    </header>
  </body>
</html>
