.autofilm-header {
  background-color: #000000;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}
.autofilm-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.autofilm-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.autofilm-nav ul li {
  margin-right: 20px;
}
.autofilm-nav ul li:last-child {
  margin-right: 0;
}
.autofilm-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.autofilm-logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.autofilm-auth-links {
  display: flex;
}
.autofilm-auth-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}
.autofilm-active {
  color: blue !important;
}
.brand-title {
  font-size: 70px;
  font-weight: bold;
}

.brand-title .auto {
  color: white;
}

.brand-title .film {
  color: blue;
}
.w {
  width: 100%;
  justify-content: center;
}
