.autofilm-header {
  background-color: #000000;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}
.autofilm-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.autofilm-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.autofilm-nav ul li {
  margin-right: 20px;
}
.autofilm-nav ul li:last-child {
  margin-right: 0;
}
.autofilm-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.autofilm-logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.autofilm-auth-links {
  display: flex;
}
.autofilm-auth-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}
.autofilm-active {
  color: #ff0000 !important;
}
.brand-title {
  font-size: 70px;
  font-weight: bold;
}

.brand-title .auto {
  color: white;
}

.brand-title .film {
  color: red;
}
.w {
  width: 100%;
  justify-content: center;
}

.user-button {
    background-color: #fff;              /* Color de fondo del botón */
    color: #000;                         /* Color del texto */
    border: none;
    border-radius: 25px;                 /* Bordes redondeados */
    padding: 8px 16px;                   /* Espaciado interior */
    font-size: 16px;                     /* Tamaño de fuente */
    font-weight: bold;                   /* Texto en negrita */
    text-align: center;                  /* Centrar el texto */
    cursor: default;                     /* Cursor sin acción al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
}

.user-button:hover {
    background-color: #f0f0f0;           /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el ratón */
}

