/* Estilo general */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Estilo del contenedor, ahora ocupa toda la pantalla */
.container-login {
    display: flex;
    flex-direction: row;
    width: 100vw; /* Ocupar todo el ancho de la ventana */
    height: 100vh; /* Ocupar toda la altura de la ventana */
    background-color: white; /* Fondo blanco */
    box-shadow: none; /* Sin sombra */
}

/* Estilo para la parte izquierda */
.login-left {
    background: linear-gradient(135deg, #007bff, #000000); /* Combinación azul-negro */
    color: white;
    padding: 50px; /* Aumentado el padding para mayor espacio interno */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-left img {
    width: 120px; /* Tamaño ajustado del logo */
    margin-bottom: 30px; /* Más espacio debajo del logo */
}

.login-left h1 {
    font-size: 2.8rem; /* Aumentado el tamaño de la fuente */
    margin-bottom: 20px;
}

.login-left p {
    font-size: 1.4rem; /* Aumentado el tamaño del texto */
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Parte derecha del formulario */
.login-right {
    background-color: white; /* Mantener fondo blanco */
    padding: 50px; /* Aumentar el padding interno */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    font-size: 2.2rem; /* Más grande */
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.login-right input[type="text"],
.login-right input[type="email"],
.login-right input[type="password"] {
    width: 100%;
    padding: 15px; /* Aumentar el padding */
    margin-bottom: 25px; /* Más espacio entre inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.login-right input[type="text"]:focus,
.login-right input[type="email"]:focus,
.login-right input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-right button {
    width: 100%;
    padding: 15px; /* Botones más grandes */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-right button:hover {
    background-color: #0056b3;
}

.login-right a {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #007bff;
}

.login-right a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    font-style: italic;
}

