body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000; /* Fondo oscuro */
    color: #f2f2f2; /* Color de texto claro */
}

header {
    background-color: #000; /* Color de fondo del header */
    color: #f2f2f2; /* Color del texto */
    padding: 15px; /* Espaciado interno */
}

footer {
    background-color: #000; /* Color de fondo del footer */
    color: #f2f2f2; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    position: relative; /* Asegura que esté en su lugar */
    bottom: 0; /* Mantiene el footer en la parte inferior */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

.seat-map {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 10px;
    text-align: center; /* Centrar texto dentro de seat-map */
}

.seat-grid {
    display: flex;
    flex-wrap: wrap; /* Asegura que los asientos se distribuyan en varias filas */
    justify-content: center; /* Centrar los asientos */
    max-width: 800px; /* Limitar el ancho total para mantener el centrado */
    margin: 0 auto; /* Centra la cuadrícula */
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #444; /* Color de asiento disponible */
    border: 2px solid #FFD700; /* Borde dorado */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Efecto de transición suave */
    display: inline-block;
}

/* Efecto hover */
.seat.available:hover {
    background-color: #6c7ae0; /* Color al pasar el mouse por encima */
}

/* Asiento seleccionado */
.seat.selected {
    background-color: #28a745; /* Verde para asiento seleccionado */
}

/* Asiento reservado */
.seat.reserved {
    background-color: #e02d2d; /* Rojo para asiento reservado */
}

/* Estilos para el botón de reserva */
.btn-danger {
    background-color: #dc3545; /* Rojo oscuro */
    border-color: #dc3545; /* Borde rojo oscuro */
    transition: background-color 0.3s; /* Efecto de transición suave */
    font-weight: bold; /* Texto en negrita */
}

.btn-danger:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .seat {
        width: 30px;
        height: 30px;
    }
}
