<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando...</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script>
        // Redirigir después de 3 segundos
        setTimeout(function() {
            window.location.href = 'peliculas'; // URL de redirección
        }, 3000);
    </script>
</head>
<body>
    <div class="loader">
        <img th:src="@{/images/cinema.png}" alt="Logo">
        <h3 style="color: white;">Cargando...</h3>
    </div>
</body>
</html>
