<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoFilm - Streaming de Películas</title>
    <link rel="stylesheet" th:href="@{/css/peliculas.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <!-- Header -->
    <header th:replace="fragments/header :: header"></header>

    <!-- Sección de Películas -->
    <h2>Recomendaciones</h2>
    <section class="movie-grid">
      <div class="movie-card" th:each="pelicula : ${peliculas}">
        <div class="movie-image">
          <img th:src="${pelicula.imagenUrl}" th:alt="${pelicula.titulo}" />
        </div>
        <div class="movie-details">
          <h3 th:text="${pelicula.titulo}">Título</h3>
          <p th:text="${pelicula.resumen}">Resumen</p>
          <p th:text="${#dates.format(pelicula.fechaEstreno, 'dd-MM-yyyy')}">
            Fecha de Estreno
          </p>
          <!-- <a
            th:href="@{/reservar/{id}(id=${pelicula.id})}"
            class="reserve-button"
          >Reservar</a> -->
        </div>
      </div>
    </section>

    <!-- Lista de Películas en Tabla -->
    <h1>Lista de Películas</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Título</th>
          <th>Duración</th>
          <th>Género</th>
          <th>Año</th>
          <th>Resumen</th>
          <th>Fecha de Estreno</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pelicula : ${peliculas}">
          <td th:text="${pelicula.titulo}">Título</td>
          <td th:text="${pelicula.duracion}">Duración</td>
          <td th:text="${pelicula.genero}">Género</td>
          <td th:text="${pelicula.anio}">Año</td>
          <td th:text="${pelicula.resumen}">Resumen</td>
          <td th:text="${#dates.format(pelicula.fechaEstreno, 'dd-MM-yyyy')}">
            Fecha de Estreno
          </td>
          <td>
            <img
              th:src="${pelicula.imagenUrl}"
              alt="Imagen de ${pelicula.titulo}"
              width="100"
              height="150"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
